langchain
python-dotenv
langchain-community
fitz
PyMuPDF
pypdf
faiss-cpu
chromadb
markitdown
python-docx
streamlit
langchain_google_genai
streamlit-searchbox
langchain-openai
vertexai
fastapi
uvicorn
httpx
pandas
openpyxl
python-multipart
PyPDF2